@font-face {
  font-family: Nunito sans;
  src: url(/ITJA/src/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
.classcontainer {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
p {
  color: #dd121c;
  font-weight: 400;
  font-family: NunitoSans;
  line-height: 20.64px;
  size: 15.13px;
}
.header {
  background-color: #fdfcff;
  padding: 5px;
  margin-top: -20px;
}
.headspan {
  margin-left: 90px;
  margin-top: 30px;
}
.logo {
  margin-top: 20px;
}
.headspan a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 400;
  line-height: 22px;
  font-family: Nunito-sans;
}
.footerp {
  color: black;
  font-family: Nunito-sans;
  font-size: 12px;
  margin-left: -45px;
}
.headspan2 {
  margin-left: 230px;
}
.cont {
  background-color: #f8f3ff;
  padding: 10px;
  margin-top: 20px;
}
.headspan2 a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-family: Nunito-sans;
  margin-left: 20px;
}
.imgspan {
  display: inline-flex;
  background-color: #ffffff;
  margin-left: -160px;
  font-size: 3px;
  position: absolute;
  margin-top: 130px;
  padding: 0 52px;
  padding-top: 15px;
  border-radius: 5px;
  border: 2px solid #f8f3ff;
  padding-right: 16px;
}
.second-div {
  background-color: #102137;
  padding: 5px;
  border-radius: 20px;
  margin: 20px;
}
.seconddivp {
  font-family: Nunito-sans;
  font-size: 10px;
  color: white;
  text-align: center;
  margin: 5px;
}
.imgspan2 {
  display: inline-flex;
}
.foot {
  margin: 15px;
  text-align: center;
}
.h1button {
  padding: 10px 20px;
  width: 20px;
  margin-left: 30px;
  height: 7px;
  border: 1px solid #c82128;
  border-radius: 5px;
  background: linear-gradient(
    104.62deg,
    #c82128 18.6%,
    rgba(120, 11, 116, 0.99) 89.61%
  );

  color: white;
  text-decoration: none;
  font-size: 7px;
  font-family: Nunito-sans;
}
.first-div {
  background-color: #c82128;
  font-family: Nunito-san;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}
.find {
  color: #ffa800;
  font-family: Nunito-sans;
}
.searchbar {
  padding: 10px;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  border: #ffffff 1px solid;
  font-family: Nunito-sans;
}
.firstdivp {
  font-family: Nunito-sans;
  color: white;
  font-size: 10px;
  text-align: center;
}
h1 {
  margin: 30px;
  line-height: 50px;
  font-family: Nunito-sans;
  font-weight: 700;
}
h2 {
  text-align: center;
  margin: 10px;
  font-size: 35px;
  line-height: 50px;
  font-family: Nunito-sans;
}
h3 {
  font-family: Nunito-sans;
  color: white;
  text-align: center;
  margin: 15px;
  line-height: 50px;
}
.third-div {
  background-color: #102137;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
h4 {
  font-family: Nunito-sans;
  color: white;
  line-height: 50px;
  margin: 10px;
  font-weight: 700;
  text-align: center;
  font-size: 33px;
}
.color {
  background-color: #233245;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.third-div a {
  color: white;
  font-family: Nunito-sans;
  font-size: 12px;
  line-height: 10px;
  text-decoration: none;
  border: 2px solid #ffa800;
  background-color: #ffa800;
  padding: 5px 50px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.third-divp {
  font-family: Nunito-sans;
  font-size: 10px;
  text-align: center;
  color: white;
  margin: 5px;
}
.h1button1 {
  padding: 10px 20px;
  width: 20px;
  height: 7px;
  border: 1px solid #c82128;
  background: linear-gradient(104.62deg, #ffffff 18.6%, #ffffff 89.61%);
  margin-left: 20px;
  border-radius: 5px;
  color: #c82128;
  text-decoration: none;
  font-size: 7px;
  font-family: Nunito-sans;
}
.picture {
  max-height: 140px;
  max-width: 200px;
}
.footerp1 {
  font-family: Nunito-sans;
  color: black;
  border: 1px solid white;
  background-color: #593d89;
  border-radius: 20px;
  font-size: 13px;
  margin-top: -2px;
}
.footerp3 {
  font-family: Nunito-sans;
  color: black;
  border: 1px solid white;
  background-color: #593d89;
  border-radius: 20px;
  margin-top: 2px;
  font-size: 13px;
}
.footerp2 {
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: Nunito-sans;
  margin: 10px;
  font-weight: 300px;
}
.Getbutton {
  padding: 10px 20px;
  width: 20px;
  height: 7px;
  border: 1px solid rgba(200, 33, 40, 0.5);
  border-radius: 5px;
  background: linear-gradient(
    109.56deg,
    rgba(200, 33, 40, 0.5) 38.05%,
    rgba(120, 11, 116, 0.46) 87.08%
  );

  color: white;
  text-decoration: none;
  font-size: 7px;
  font-family: Nunito-sans;
}
.yellow {
  display: block;
  margin: 8px auto;
  max-width: 150px;
  padding: 4px;
  background-color: #ffa800;
}
.blue {
  margin: 8px;
  padding: 4px;
  background-color: #112137;
}
.short {
  margin: 8px;
  max-width: 150px;
  padding: 4px;
  background-color: #112137;
}
.white {
  margin: 8px;
  padding: 1px;
  background-color: #e4cdfc;
  max-width: 250px;
}
.yellowb {
  max-width: 10px;
  padding: 5px;
  background-color: #ffa800;
  position: absolute;
  margin-top: -17px;
  margin-left: 8px;
}
.third-divspan {
  margin: 10px;
  display: inline-flex;
}
.third-divspanp1 {
  font-family: Nunito-sans;
  font-size: 12px;
  color: white;
  margin-right: 30px;
}
.third-divspanp2 {
  font-family: Nunito-sans;
  font-size: 12px;
  color: #c393f2;
  margin-left: 100px;
}
.third-divspanp3 {
  font-family: Nunito-sans;
  font-size: 12px;
  color: white;
  margin-left: 180px;
}
.fourth-div {
  background-color: #c82128;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.fourth-divp {
  color: white;
  font-family: Nunito-sans;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.fourth-divp1 {
  background-color: rgba(138, 7, 13, 0.76);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.fourth-divp1p {
  text-align: center;
  color: white;
  font-family: Nunito-sans;
  font-size: 12px;
  font-weight: 400;
}
.fourth-divp2 {
  text-align: center;
  color: rgba(52, 227, 111, 1);
  font-family: Nunito-sans;
  font-size: 12px;
  font-weight: 400;
}
.fourth-divpa {
  max-width: 55px;
  padding: 5px;
  border: 2px solid #ffa800;
  border-radius: 10px;
  background-color: #ffa800;
  font-family: Nunito-sans;
  font-size: 13px;
  text-decoration: none;
  color: white;
  display: block;
  margin: 10px auto;
  text-align: center;
}
h5 {
  font-family: Nunito-sans;
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  margin: 10px;
  text-align: center;
}
.cert {
  font-family: Nunito-sans;
  font-size: 10px;
  color: white;
  line-height: 16px;
}
.who {
  font-family: Nunito-sans;
  font-size: 18px;
  color: white;
  line-height: 16px;
  opacity: 0.6;
  text-align: center;
  margin-top: -10px;
}

.img-footer {
  display: inline-flex;
}
.picrows {
  background-color: #f8f3ff;
}
.apply-button {
  background: linear-gradient(
    104.62deg,
    #c82128 18.6%,
    rgba(120, 11, 116, 0.99) 89.61%
  );
  border: 1px solid #c82128;
  border-radius: 5px;
  padding: 8px 5px;
  display: block;
  margin: 10px auto;
  text-decoration: none;
  text-align: center;
  max-width: 200px;
  color: white;
  font-family: Nunito-sans;
  font-size: 8px;
}
h6 {
  font-family: Nunito-sans;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
}
.fifth-div {
  background-color: rgba(246, 242, 251, 1);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.fifth-divp {
  font-family: Nunito-sans;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: black;
  margin: 10px;
}
.take-button {
  background: linear-gradient(
    104.62deg,
    #c82128 18.6%,
    rgba(120, 11, 116, 0.99) 89.61%
  );
  border: 1px solid #c82128;
  border-radius: 2px;
  padding: 5px 25px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: Nunito-sans;
  font-size: 8px;
}
.sixth-div {
  background-color: rgba(16, 33, 55, 1);
  padding: 30px;
  margin: 10px;
}
.head {
  text-align: center;
  color: white;
  font-family: Nunito-sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.mini-div1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 190px;
  margin: 10px;
  padding-top: 10px;
}
.mockup {
  border-radius: 100px;
  margin-left: -10px;
  max-width: 100px;
}
.quot {
  position: absolute;
  color: rgba(16, 33, 55, 1);
  background-color: rgba(16, 33, 55, 1);
  margin-left: -100px;
  width: 25px;
  border-radius: 20px;
}
.quote {
  position: absolute;
  border-radius: 20px;
  margin-left: -95px;
  width: 13px;
  color: #f8f3ff;
}
.ratings {
  margin-left: -32px;
  display: inline-flex;
  position: absolute;
  margin-top: -1px;
  font-family: Nunito-sans;
  font-size: 10px;
  font-weight: 700;
  color: rgba(255, 206, 49, 1);
}
.stack {
  max-width: 15px;
  color: rgba(255, 206, 49, 1);
}
.ratingsp1 {
  font-family: Nunito-sans;
  font-size: 10px;
  font-weight: 700;
  color: rgba(255, 206, 49, 1);
  margin-top: -5px;
}
.ratingsp {
  color: black;
  font-family: Nunito-sans;
  font-size: 10px;
  opacity: 0.4;
  margin-top: 15px;
  line-height: 15px;
  margin-left: -20px;
}
span1 {
  display: inline-flex;
}
.pointer {
  text-align: center;
  margin: 10px;
}
.footer-div {
  padding: 45px;
  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
}
.ffooter {
  display: inline-flex;
}
.ffooter1 {
  display: inline-flex;
  padding-top: -40px;
}
.course {
  padding-left: 150px;
}
.about {
  padding-left: -50px;
}
.ffooter1 p {
  font-family: Nunito-sans;
  font-size: 10px;
  margin-right: 20px;
  color: black;
  margin-left: 30px;
}
.ffooter p {
  font-family: Nunito-sans;
  font-size: 10px;
  font-weight: 700;
  margin-right: 50px;
  color: black;
  margin-top: 17px;
  margin-left: 20px;
}
.ffoter-img {
  margin-right: 50px;
}
.faqs {
  padding-left: 20px;
}
footer {
  font-family: Nunito-sans;
  text-align: center;
  font-size: 8px;
  color: #dd121c;
  line-height: 10px;
}
@media (max-width: 900px) {
  .headspan a {
    font-size: 8px;
    margin-left: 4px;
  }
  .headspan {
    margin-left: 5px;
  }
  .headspan2 a {
    font-size: 10px;
    margin-left: 12px;
  }
  .logo {
    width: 30px;
  }
  .headspan2 {
    margin-left: 0px;
  }
  .ffoter-img {
    margin-right: 0px;
  }
  .about {
    padding-left: 0px;
  }
  .faqs {
    padding-left: 0px;
  }
  .ffooter p {
    margin: 3px;
  }
  .ffooter1 p {
    margin: 2px;
  }
  .course {
    padding-left: 50px;
  }
}
